@model DeliveryApp.Models.ViewModels.OrderProductsViewModel

<div class="card card-user">
    <div class="card-body">
        @foreach (var op in Model.OrderProducts)
        {
            <div style="margin-top: 10px" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="@Url.Content(op.ProductImage.ImagePath)" alt="Produit" />
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <span><b>@op.OrderProduct.Amount</b> @op.Product.Name</span>
                </div>
            </div>
        }
    </div>
    <div class="card-footer text-right">
        <div class="pull-right">
            <input type="button" value="OK" class="btn btn-default" id="cancel" data-dismiss="modal" />
        </div>
    </div>
</div>