@model DeliveryApp.Models.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "AllCategories";
    ViewBag.CurrentController = "Category";
    ViewBag.CurrentAction = "AllCategories";
    ViewBag.CurrentView = "Catégories";
    ViewBag.CurrentViewTitle = "Liste des catégories";
}

<div class="container-fluid">

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>@TempData["Message"]</span>
        </div>
    }

    <h1>Toutes les catégories</h1>



    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="card" style="width: 18rem; height: 350px">
                    <img height="180" src="@Url.Content(category.ImagePath)" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                        <div class="float-right">
                            <a href="#" class="btn btn-info btn-simple btn-icon ajaxBtn" data-link="/Category/EditCategory?id=@category.Id" data-title="Modifier Catégorie"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger btn-simple btn-icon"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</div>

@section scripts {
    <script>
        function pictureAdded(e) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('imgCat');
                output.src = reader.result;
                console.log(reader.result);
            };
            reader.readAsDataURL(e.target.files[0]);
        }

    </script>
}