
@{
    ViewData["Title"] = "Maps";
}

@section stylesheets {
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
}

<h1>Maps</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body ">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibW9lejk2IiwiYSI6ImNqcHpmb2dxcjA3dmk0MnAzdHJhM2d1cWMifQ.F9tAenloATlCneHfirTbLw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [10.582663, 35.655356],
            zoom: 5
        });

        var marker = new mapboxgl.Marker()
            .setLngLat([10.582663, 35.655356])
            .addTo(map);

    </script>
}